#div1{
    background-color: rgb(224, 166, 79);
}
#div2{
    background-color: rgb(230, 125, 28);
}
#div3{
    background-color: rgb(17, 130, 128);
}
#div4{
    background-color: #90c055;
}
#div5{
    background-color: #eb05a6 ;
}
#div6{
    background-color: #4fe064;
}

#div7{
    background-color: rgba(255, 0, 0, 0.1);
}
#div8{
    background-color: rgba(255, 0, 0,0.5 );
}
#div9{
    background-color: rgba(255, 0, 0, 0.7);
}
#div10{
    background-color: rgba(255, 0, 0, 1);
}
#label1{
    color: cadetblue;
    background-color: black;
}
#school{
    color: chartreuse;
    background-color: black;
}