.box{
    height: 100px;
    width: 100px;
}
#box1{
    background-color: chocolate;
}
#box2{
    background-color: darkred;
}
#box3{
    background-color: darkslateblue;
}

span{
    background-color: darksalmon;
    height: 100px;
    width: 100px;
}
#pic{
    height: 200px;
    width: 200px;
    background-image: url(demo.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}